{% extends 'base.html.twig' %}
{% block title %}Manager Brand{% endblock %}
{% block body %}
    <h1>Product List</h1>
    <button style ="border-radius:10px;
    margin-bottom : 20px;
    background:rgb(0, 149,246,0.3);
    border:1px solid white;
    "><a href ="{{path('addbrand')}}">Add Brand</a></button>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
         {% for p in brand %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.namesup }}</td>
                
                <td>
                    <a href="{{ path('editbrand', { 'id': p.id }) }}">Edit</a>
                    
                </td>
                 <td>
                    <a href="{{ path('delete_brand', { 'id': p.id }) }}"><i class="fa-solid fa-trash-can"></i></a>
                    
                </td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
