   {% extends 'base.html.twig' %}
{% block title %}Customer's Bill Detail{% endblock %}
{% block body %}

    <style>
        
        
        article{
           width : 800px;
            padding-top: 30px;
            margin: auto;
            background-color: #fff;
            height: auto;
        }
       article h1{
        text-align: center;
       }
       
        
       
        
    </style>
   <article>
            {# <h1>Successful</h1> #}
            <hr>
            {% for d in date %}
              <p style ="margin-top:30px"> Date : {{d.Date|date('d/m/Y H:i')}}</p>  
            {% endfor %}
            
            {# <p>{{date}}</p> #}
            {% for o in oid %}
              <p>Order's ID :{{o.id}}</p>  
            {% endfor %}
            

             <div class="infor ">
             {% for u in billdetail %}
            <p  style ="margin-top:30px; margin-bottom:30px"> Name : {{u.Name}}</p>
             {% endfor %}
           
             </div>
            <hr>
            <div class="bill">
                <table class="table">
                <tr> 
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>

                                           
                </tr>
                {% for p in billproduct %}
                 <tr> 
                  
                 <td>{{p.namepro}}</td> 
                <td> 
               <h6 class="mb-0"><span>{{p.Quantity}}</span> </h6>
                </td>
                <td><h6 class="mb-0"><span>${{p.price}}</span> </h6>
                </td> 
                <td>
                <h6 class="mb-0"><span>${{sum(p.Quantity,p.price)}}</span> </h6>
                </td>
                 </tr>
                 {% endfor %}
                        
                                     
                 <tr>
                <td colspan="3">Total</td>
                     {% for t in total %}                    
                <td style = "margin-right:30px">${{t.Total}}</td>
                {% endfor %} 
                </tr>
                
                                              
                </table> 
                
                </div>
            </div>
            <h6 class="my-5" ><a href="{{path('app_test')}}" class="text-body">Back to shop <i class="bi bi-box-arrow-left me-2"></i></a></h6> 

        </article>

        
{% endblock %}
